* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
    background-color: rgb(106, 179, 182);
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .navbar a{
    text-decoration: none;
  }

body {
  background-color: rgb(8, 8, 67);
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.my_details {
  background-color: aliceblue;
  color: black;
  width: 60%;
  height: 250px;
  padding: 15px;
  margin: auto;
  border-radius: 18px;
  margin-top: 40px;
}

.my_details h3{
  color: brown;
  margin-top: 20px;
}

table, th,td{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  padding: 10px 30px;

}

@media screen and (max-width:700px){
  .my_details{
    width: 100%;
    font-size: 13px;
    height: 200px;
  }
}
